*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(255,100,168);
    background: linear-gradient(90deg, rgba(255,100,168,1) 28%, rgba(60,142,238,1) 99%);
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 15px;
}
#Res{
    border: 2px ;
   background: paleturquoise;
    width: 80%;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: auto;
}
button:hover{
    transform: scale(1);
    box-shadow: 0 0 20px rgb(88, 88, 88);
}
p{
    margin: 3px;
    border-bottom: 2px solid rgb(255, 208, 208);
    opacity: 100%;
}
img{
    height: 50%;
    width: 80%;
    margin: 20px;
}
div{
    border: 2px solid rgb(250, 203, 203);
    width: 80%;
}